---
layout: default
description: "探索单片机与深度学习的奥秘"
---

<div class="home">
  <div class="posts">
    {% for post in paginator.posts %}
    <article class="post">
      <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      {% if post.subtitle %}
      <h3 class="post-subtitle">
        {{ post.subtitle }}
      </h3>
      {% endif %}

      <div class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }}
      </div>

      <div class="post-excerpt">
        {{ post.excerpt | strip_html | truncatewords: 50 }}
      </div>

      <p class="read-more">
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more-link">继续阅读 &rarr;</a>
      </p>
    </article>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">&larr; 上一页</a>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">下一页 &rarr;</a>
    {% endif %}
  </div>
  {% endif %}
</div>
